<IfModule mod_expires.c>
# Enable expiration control
ExpiresActive On
 
# Default expiration: 1 hour after request
ExpiresDefault "now plus 1 hour"
</IfModule>


# Referrer-Policy
<IfModule mod_headers.c>
Header set Referrer-Policy "origin-when-cross-origin"
</IfModule>

<FilesMatch ".(ttt|sap)$">
Header set X-Robots-Tag "noindex, nofollow, noarchive, nosnippet"
</FilesMatch>